

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Dancing Script', cursive;
 
  width: 100%;
}



img {
  max-width: 100%;
}

.main-pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature-bg {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  width: 100vh;
  border-radius: 10px;
}

.header_img {
  width: 100%;
}

.main-title {
  font-size: 3rem;
  color: rgb(48, 39, 39);
  font-weight: bold;
}

#homes {
  background: black;
  color: white;
}

#footer {
  background: rgba(37, 36, 36, 0.3);
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}


@media screen and (max-width: 768px){
  .main-title {
    font-size: 1rem;
  }
  .feature-bg {
    width: 40vh;
  }
}